:root {
    --section-padding : 90px;
}

*, *::before, *::after {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, img, span, button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input, button, textarea {
    border: none;
    background: none;
}