/* Start Body sec*/

:root {
    --section-padding : 90px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a, img, span, button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input, button, textarea {
    border: none;
    background: none;
}

button {
    cursor: pointer;
}

html { /* will be changing this this to the imported fonts I just need it for test purposes */
    font-size: 10px;
    scroll-behavior: smooth;
}


body {
    background-color: royalblue;
    font-size: 1.6rem;
    color: white;
    line-height: 1.7;
}


h1,h2,h3,h4,h6,h6 {
    color: white;
    line-height: 1.3;
}

p {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    background-color: royalblue;
}

::-webkit-scrollbar-thumb {
    background-color: royalblue;
}


.container {
    padding-inline: 16px;
}

.section, footer {
    padding-block: var(--section-padding);
}

.w-100 {
    width: 100%;
}

.h1 {
    font-size: calc(2.7rem + 1.38vw);
}

.h2 {
    font-size: calc(2.6rem + .66vw);
}

.h3 {
    font-size: calc(2.6rem + .25vw);
}

.h4 {
    font-size: 1.8rem;
}

.btn {
    color: royalblue;
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid whitesmoke;
    max-width: max-content;
    background-color: white;
    padding: 12px 28px;
    border-radius: 50px;
}

.btn:hover {
    background-color: royalblue;
    color: white;
    border-color: white;
}


.section-text {
    font-size: 1.8rem;
}

.gird-list {
    display: grid;
    gap: 30px;
}

.section-title {
    margin-block-end: 16px;
}

/* End Body sec*/




/* Start Header sec*/

.name {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 4px;
}


.header {
    position: absolute;
    margin-left: 10px;
    top: 0;
    left: 0;
    background-color: darkblue;
    width: 100%;
    padding-block: 20px;
    z-index: 4;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-open-btn {
    font-size: 3.5rem;
    color: white;
}

.navBar {
    position: fixed;
    top: 0;
    left: -300px;
    color: white;
    background-color: royalblue;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    visibility: hidden;
}

.navBar.active {
    visibility: visible;
    transform: translateX(300px);
}


.navBar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navBar-list {
    font-weight: bold;
    padding-block: 6px;
    margin-block-end: auto;
}

.navBar-close-btn {
    color: royalblue;
    padding: 6px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    opacity: 0;
    pointer-events: none;
}

.overlay.active {
    opacity: 0.8;
    pointer-events: all;
}


/* End Header sec*/


/* Start Hero section*/
.hero {
    padding-block-start: calc(var(--section-padding) + 50px);
}


.hero .container {
    display: grid;
    gap: 50px;
}


.hero-banner {
    position: relative;
    max-width: max-content;
    margin-inline: auto;
}


.hero-banner .w-100 {
    mask-image: url("../pictures/image-mask.svg");
    mask-repeat: no-repeat;
    mask-size: auto;
    mask-position: center;
    border-radius: 50%;
    object-fit: cover;
    width: 580px;
    height: 645px;
}

.hero .section-text {
    margin-block: 24px 36px;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}


.social-icons-wrapper {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.social-icons-wrapper {
    font-size: 50px;
    cursor: pointer;
}

/* End Hero section*/



/* Start About section*/

.about .wrapper {
    display: grid;
    gap: 50px;
    margin-block-end: 70px;
}

.progress-list .label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 5px;
}


.progress-item {
    margin-bottom: 15px;
}


.progress {
    background-color: white;
    height: 12px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.progress-fill {
    height: inherit;
}

.about-card {
    text-align: center;
    background-color: darkblue;
    padding: 30px 20px;
    border-radius: 8px;
}


.about-card .card-icon i{
    font-size: 45px;
}


.about-card .card-title {
    margin: 16px 10px;
}

.about-card .card-text {
    font-size: 20px;
}

/* End About section*/



/* Start project section*/

.project .title-wrapper {
    margin-bottom: 40px;
}

.project .gird-list {
    gap: 40px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 8px;
    overflow: hidden;
}


.project-card-one,
.project-card-two,
:is(.project-card-three, .project-card-four) .card-content
{
    padding: 68px;
}



.project :is(.project-card-three,.project-card-four) {
    gap: 0;
}

.project .gird-list .project-card {
    background-color: darkblue;
}

.project-card .card-type {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}


.project-card .card-title {
    margin-block-end: 20px;
}

.project-card .btn-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

/* End project section*/


/* Start Contact section*/

.contact-card {
    background-color: darkblue;
    padding: 32px;
    border-radius: 8px;
    display: grid;
    gap: 40px;
}

.input-field {
    background-color: white;
    color: royalblue;
    font-size: 18px;
    padding: 14px 18px;
    border-radius: 6px;
    outline: none;
    margin-block-end: 20px;
    width: 100%;
}

textarea.input-field {
    min-height: 120px;
    height: 120px;
    max-height: 250px;
    resize: vertical;
}


/* End Contact section*/






















